In [1]:
# Data processing

In [2]:
import os
import numpy as np
import pandas as pd
import pickle

In [3]:
# Set directories
print(os.getcwd())
dirRawData = "../rawdata/"
dirPData = "../pydata/"
dirOutput = "../output/"

/home/jovyan/work/aml_cw/code

In [4]:
# Load up data
df_all = pd.read_csv(dirRawData +'train.csv') # contains data for training and validation

In [5]:
df_all.head()

,id,v_char_1,v_char_2,v_char_3,v_char_4,v_char_5,v_char_6,v_char_7,v_char_8,v_char_9,...,v_num_101,v_num_102,v_num_103,v_num_104,v_num_105,v_num_106,v_num_107,v_num_108,v_num_109,v_num_110
0,1,G,V,q,S,Q,K,Q,d,Y,...,0,6,0,6,8,0,1,0,16,19
1,2,G,I,q,S,Q,i,Q,d,I,...,0,7,1,5,1,5,1,1,7,2
2,3,G,I,L,S,Q,L,Q,h,I,...,0,6,0,8,9,0,1,0,1,4
3,4,G,I,q,S,Q,i,Q,h,I,...,0,6,0,8,1,0,1,0,12,8
4,6,G,V,q,S,Q,i,Q,d,Y,...,0,11,0,5,3,0,1,0,16,4

In [15]:
dict_ = {'df_all': df_all}

f_name = dirPData + 'df_all.pickle'
with open(f_name, "wb") as f:
    pickle.dump(dict_, f)
del f_name

## Lets identify all the different variables, the ones to use and not use i.e. ID

In [7]:
vars_all = df_all.columns.values
var_dep = ['target']

vars_notToUse = ['id']
vars_ind = [var for var in vars_all if var not in (vars_notToUse + var_dep)]

## Lets also identify all the numeric variables in a list

In [17]:
vars_ind_numeric = list(df_all[vars_ind].columns[df_all[vars_ind].dtypes != 'object'])

In [23]:
vars_ind_categorical = df_all.columns[df_all.dtypes == 'object'].tolist()

In [24]:
dict_ = {'vars_ind_numeric': vars_ind_numeric,
        'vars_notToUse': vars_notToUse,
        'var_dep': var_dep,
        'vars_ind_categorical': vars_ind_categorical}

f_name = dirPData + 'variables.pickle'
with open(f_name, "wb") as f:
    pickle.dump(dict_, f)
del f_name, dict_

# add a fold variable

In [20]:
rng = np.random.RandomState(2019)
fold = rng.randint(0,10,df_all.shape[0])
df_all['fold'] = fold

In [21]:
dict_ = {'df_all': df_all}

f_name = dirPData + 'df_all.pickle'
with open(f_name, "wb") as f:
    pickle.dump(dict_, f)
del f_name